<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'payments', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :scipts do %>
  <%= javascript_include_tag 'payments/index', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="card">

        <div class="card-header">
          <b>Payments</b>
        </div>

        <div class="card-body">

          <div class="payments-control-panel">
            <button class="btn btn-outline-primary add-payments-btn" data-toggle="modal" data-target="#infoPaymentModal">
              <i class="fas fa-plus"></i> <%= t :'payments.add' %>
            </button>
          </div>

          <table id="payments-datatable" class="table table-hover">
            <thead>
            <tr>
              <th>Ctr</th>
              <th><%= t :'general.description' %></th>
            </tr>
            </thead>
            <tbody>
            <% for i in 1..500 do %>
              <tr>
                <td><%= i %></td>
                <td>Cam asta ar fi lungimea postrivita pt descrierea platii <%= i %>
                  <i class="far fa-question-circle modal-opener" data-toggle="modal" data-target="#infoPaymentModal" payment-id="<%= i %>"></i>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>

        </div>

        <div class="modal fade" id="infoPaymentModal" tabindex="-1" role="dialog" aria-labelledby="infoPaymentModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="infoPaymentModalLabel"><b>Payment</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias asperiores beatae
                dignissimos eveniet, illum, itaque libero magni nam necessitatibus nihil officia possimus quam quasi quo
                similique sit tempore voluptatem!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet, assumenda beatae debitis
                excepturi impedit laborum modi, nulla praesentium recusandae rem sunt suscipit tempora, tenetur
                voluptates voluptatum. Dolor, voluptatem!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, culpa debitis, dicta ea et ipsa
                iure laboriosam nam nesciunt non odio officiis optio porro quia quidem quis repellat repudiandae
                voluptates?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus distinctio ea eius exercitationem
                expedita id illum in iste, iusto laboriosam nam neque, nulla pariatur porro sint tempora tempore ut.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eius expedita mollitia qui velit. A,
                alias aut commodi consectetur doloremque earum fugit, libero nam perspiciatis, possimus quasi quis totam
                vitae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eum itaque recusandae, rerum sunt
                vero. Officia repudiandae, saepe. Accusantium consequuntur fugiat illum ipsa laborum mollitia natus
                necessitatibus recusandae! Natus, neque?

              </div>

              <div class="modal-footer modal-footer-info justify-content-center">
                <button type="button" class="btn btn-danger w-50" data-dismiss="modal"><%= t :'general.cancel' %>
                </button>
                <button type="button" class="btn btn-success w-50" payment-id="" id="confirmPayment">
                  <%= t :'general.save' %>
                </button>
              </div>

            </div>
          </div>
        </div>

        <div class="modal fade" id="deletePaymentModal" tabindex="-1" role="dialog" aria-labelledby="deletePaymentModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="deletePaymentModalLabel">Delete Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <%= t :'payments.confirm_delete_question' %>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t :'general.cancel' %></button>
                <button type="button" class="btn btn-success" payment-id="" id="confirmDeletePayment">
                  <%= t :'general.delete' %>
                </button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
